@function calc-col-width($size, $length) {
  $width: '#{$size} * ((100% - (#{$length} - 1) * #{$gutter-horizontal}) / #{$length}) + (#{$size} - 1) * #{$gutter-horizontal}';

  @return calc(#{$width});
}

/*<header>
            <div class="contenedor-menu-vertical">
                <div class="contenedor-hamburguesa">
                    <input type="checkbox" id="btn-hamburguesa">
                    <label for="btn-hamburguesa" class="label-hamburguesa">
                        <span class="span1-hamburguesa"></span>
                        <span class="span2-hamburguesa"></span>
                        <span class="span3-hamburguesa"></span>
                    </label>
                </div>
                <div class="menu-lateral" id="active">
                    <ul>
                        <li><img src="./img/imagen-menu-lateral.jpg" class="menu-lateral__imagen"></li>
                        <li>Inicio</li>
                        <li>Noticias</li>
                        <li>Contactanos</li>
                    </ul>
                </div>
            </div>
            <nav class="menu_nav">
                <ul class="menu_ul">
                    <li class="menu_li"><a href="#" class="link_menu">Inicio</a></li>
                    <li class="menu_li"><a href="#" class="link_menu">Noticia1</a>
                        <ul class="submenu_ul">
                            <li class="submenu_li"><a href="#" class="link_submenu">Noticia1-1</a></li>
                            <li class="submenu_li"><a href="#" class="link_submenu">Noticia1-2</a></li>
                            <li class="submenu_li"><a href="#" class="link_submenu">Noticia1-3</a></li>
                        </ul>
                    </li>
                    <li class="menu_li"><a href="#" class="link_menu">Noticia2</a>
                        <ul class="submenu_ul">
                            <li class="submenu_li"><a href="#" class="link_submenu">Noticia2-1</a></li>
                            <li class="submenu_li"><a href="#" class="link_submenu">Noticia2-2</a></li>
                            <li class="submenu_li"><a href="#" class="link_submenu">Noticia2-3</a></li>
                        </ul>
                    </li>
                    <li class="menu_li"><a href="#" class="link_menu">Contactanos</a></li>
                </ul>
            </nav>
        </header>*/

/* {
  padding: 0;
  margin: 0;
}

.contenedor-hamburguesa {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 3.5rem;
    height: 2rem;
    display: flex;
    position: absolute;
    margin-left: 92%;
  }
  
  #btn-hamburguesa {
    display: none;
  }
  
  .label-hamburguesa {
    width: 3.5rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
  }
  
  .span1-hamburguesa,
  .span2-hamburguesa,
  .span3-hamburguesa {
    position: absolute;
    content: '';
    background-color: rgb(0, 0, 0);
    width: 2.5rem;
    height: 0.2rem;
    border-radius: 5px;
    transition: all 0.5s;
  }
  
  .span2-hamburguesa {
    top: 11px;
  }
  
  .span3-hamburguesa {
    top: 22px;
  }
  
  #btn-hamburguesa:checked ~ .label-hamburguesa .span1-hamburguesa {
    transform: rotate(140deg);
    top: 10px;
  }
  
  #btn-hamburguesa:checked ~ .label-hamburguesa .span2-hamburguesa {
    opacity: 0;
  }
  
  #btn-hamburguesa:checked ~ .label-hamburguesa .span3-hamburguesa {
    transform: rotate(-140deg);
    top: 10px;
  }
  #btn-hamburguesa:checked ~ .label-hamburguesa .span3-hamburguesa {
    opacity: 1;
  }
  
  #btn-hamburguesa:checked ~ .menu-lateral {
    margin-left: 19rem;
    opacity: 1;
  }
  
  .menu-lateral {
    position: fixed;
    width: 10rem;
    height: 100vh;
    background-color: black;
    display: none;
  }
  
  .menu-lateral ul li {
    color: white;
    text-align: center;
    list-style: none;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid gray;
  }
  
  .menu-lateral__imagen {
    width: 110px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .menu_nav {
    width: 50%;
    background-color: black;
    margin-left: 20rem;
    margin-top: 2rem;
  }
  
  .menu_ul,
  .submenu_ul {
    list-style: none;
  }
  
  .menu_ul,
  .menu_li {
    display: inline-block;
  }
  
  .menu_ul {
    position: relative;
  }
  
  .menu_li {
    padding: 0.75rem 2rem;
  }
  
  .submenu_ul {
    position: absolute;
    display: none;
    margin-top: 2rem;
  }
  
  .submenu_li {
    background-color: black;
    padding: 0.75rem 0.5rem;
  }
  
  .link_menu {
    text-decoration: none;
    color: white;
  }
  
  .link_menu:hover ~ .submenu_ul {
    display: block;
  }
  
  .link_menu:hover,
  .link_submenu:hover {
    color: green;
    background-color: lightgray;
  }
  
  .link_submenu {
    text-decoration: none;
    color: white;
  }
  */
