@mixin clearfix {
    &:after {
        // clearfix hack to avoid row has 0px width
        content: "";
        display: table;
        clear: both;
    }
}
@mixin colwidth {
    @for $size from 1 through $cols {
        @for $length from $size through $cols {
            @if $size !=$length or $size==1 {
                .col-#{$size}-of-#{$length} {
                    width: calc-col-width($size, $length);
                }
            }
        }
    }
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}